@font-face{
    font-family: reguler_font;
    /*src: url('../font/Helvetica.ttf');*/
    src: url('../font/Roboto-Regular.ttf')
}

@font-face{
    font-family: bold_font;
    /*src: url('../font/arialbd.ttf');*/
    src: url('../font/Roboto-Bold.ttf');
}

@font-face{
    font-family: bold_black_font;
    src: url('../font/arial-black.ttf');
}

strong{
    font-family: bold_font;
    src: url('../font/arialbd.ttf');
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

.pop{
    z-index: 1000;
    position: fixed;
}

.popup_confirmation{
    position: fixed; 
    top: 0px; 
    width: 300px; 
    height: auto; 
    background: #FFF;
    border-radius: 5px;
    overflow: hidden;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
}

.flex-container > div{
    width: 25%;
    height: 100px;
    background: #f5f5f5;
    margin: 10px;
    border-radius: 5px;
}

.main-color{
    background: #386384;
}

.main-font-color{
    color: #386384;
}


.main-border{
    border: #dcdbdb 1px solid;
}

.second-background-grs{
    background: #f5f5f5;
}

.main-border-bottom{
    border-bottom: #dcdbdb 1px solid;
}

.main-border-top{
    border-top: #dcdbdb 1px solid;
}

.main-border-right{
    border-right: #dcdbdb 1px solid;
}

.main-border-left{
    border-left: #dcdbdb 1px solid;
}

.second-border{
    border: #f4f4f4 1px solid;
}

.second-border-bottom{
    border-bottom: #f4f4f4 1px solid;
}

.second-background{
    background:  #4f7e88;
}

.header-second-background{
    background: #f4f4f4;
    border-bottom: 1px solid #e8e8e8;
}

.sidebar{
    width: 230px;
    position: fixed;
    height: 100%;
    top: 0px;
    text-align: left;
    font-family: reguler_font;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #CCC #386384;
    z-index: 1000;
}

.second-font-color{
    color: #a2a2a2;
}

li.none-style-list{
    list-style: none;
    list-style-position: outside;
}

ul{
    margin: 20px 0px;
    padding: 0px;
}
.nav-li{
    padding:10px;
    color: #FFF;
    padding-left: 15px;
}

.nav-li:hover{
    color: #FFF;
    background: #4f7e88;
}

body{
    font-family: reguler_font;
}

.regular-font{
    font-family: reguler_font;
}

a{
    cursor: pointer;
    color: #386384;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.collapse{
    height: 0px;
    overflow: hidden;
}

.expand{
    height: auto;
}

.bold{
    font-family: bold_font;
}

.bold-black{
    font-family: bold_black_font;
}

button{
    border: none;
    outline: none;
}

button:hover{
    opacity: 0.7;
}

input{
    border: #ccc9c9 1px solid;
    border-radius: 3px;
}

textarea{
    border: #ccc9c9 1px solid;
    border-radius: 3px;
    font-family: reguler_font;
    padding: 5px;
}

select{
    border: #ccc9c9 1px solid;
    border-radius: 3px;
    font-family: reguler_font;
    padding: 5px;
}

.btn-primary{
    background: #386384;
    border: 1px solid #386384;
    border-radius: 3px;
    color: #FFF;
    padding: 5px;
    cursor: pointer;
    min-width: 40px;
}

.btn-secondary{
    background: #e0e0e0;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #CCC;
}

.list-menu{
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.list-menu:hover{
    color: #4f7e88;
    padding: 5px;
    cursor: pointer;   
}

.block{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index: 1000;
}

.block-image{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index: 1005;
}

button{
    cursor: pointer;
}

.selected-row{
    background: #ddf0ff !important;
}

/*.sidebar::-webkit-scrollbar {*/
    /*width: 5px;*/
/*}*/

.tr-selectable{
    background: #FFF;
}

.tr-selectable:hover{
    background: #ddf0ff !important;
}

.sidebar::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px ;  */
    border-radius: 2px;
    background: #386384;
}

.tab-base-scroll::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.scrollbar{
    scrollbar-width: thin;
    scrollbar-color: #CCC #e6e6e6;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #CCC;
    /* -webkit-box-shadow: inset 0 0 6px #FFF;  */
}

::-webkit-scrollbar-thumb {
    background: #CCC;
    /* -webkit-box-shadow: inset 0 0 6px #FFF;  */
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.list-item{
    background: #FFF;
}

.list-item:hover{
    background: #ddf0ff;
}

.alert{
    background: #FFF;
    padding: 10px;
    position: fixed;
    width: 250px;
    height: auto;
    z-index: 100;
}

#main-base-data{

}

#main-base-data-wrapper{
    margin-top: 50px;
    margin-left: 230px;
    padding: 10px;
    padding-left: 20px;
}

thead{
    font-size: 12px;
}

table{
    border: none;
    border-collapse: collapse;
}

th{
    padding: 5px;
    padding-right: 20px;
    text-align: left;
}

tr{
    font-size: 12px;
    border: none;
    cursor: pointer;
}

td{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    margin: 0px;
    outline: none;
}

tr.tr_border_bottom td {
    border-bottom:1pt solid #e8e8e8;
}

#header{
    z-index: 1000;
}

.tooltip {
    position: relative;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    border:1px solid #CCC;
    margin-left: 10px;
    width: 100px;
    color: #000;
    background: #FFF;
    font-family: reguler_font;
    font-size: 11px;
    /* Position the tooltip */
    position: absolute;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

blockquote{
    border-left: 3px solid #CCC;
    padding-left: 10px;
    font-style: italic;
}

p{
    margin-top: 0px;
}

/*div{*/
    /*scrollbar-width: thin;*/
    /*scrollbar-color: #CCC #e6e6e6;*/
/*}*/

.scrollbar-white-bck{
    scrollbar-width: thin;
    scrollbar-color: #CCC #FFF;
}
/* tbody {
    display:block;
    height:400px;
    overflow-y:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
} */

.table-test {
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid grey;
}

.td-test {
    margin: 0;
    border: 1px solid grey;
    white-space: nowrap;
    border-top-width: 0px;
}

.test-div {
    width: 500px;
    overflow-x: scroll;
    margin-left: 5em;
    overflow-y: visible;
    padding: 0;
    height: 200px;
}

.gj-row{
    background: #FFF;
}

.gn-row{
    background: #F1f1f1;
}

.headcol {
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
}

.headcol:before {
    content: 'Row ';
}

.long {
    background: yellow;
    letter-spacing: 1em;
}